<div ng-include src="'menu.html'"></div>

<div class="i012">
    <div class="head">5号碎片投放记录</div>

    <div class="content3 clearfix">
        <select ng-model="table1fix.status">
            <option value="all">状态</option>
            <option value="get">已获取</option>
            <option value="put">投放中</option>
        </select>
        <select  ng-model="table1fix.search_type">
            <option value="">查询类型</option>
            <option value="truck_name">商品名称</option>
            <option value="truck_id">商品ID</option>
            <option value="circle_name">投放商圈名称</option>
        </select>
        <span class="search">
            <input type="text" placeholder="请输入值"   ng-model="table1fix.key">
            <button ng-click="setTable1()">查询</button>
         </span>
        <button class="btn" ng-click="huishou()">一键回收</button>
    </div>
    <table class="table table-bordered table-striped" id="table">
        <tr>
            <td>修改时间</td>
            <td>投放方式</td>
            <td>投放商圈名称</td>
            <td>获取用户</td>
            <td>商品名称</td>
            <td>商品ID</td>
            <td>物品价值</td>
            <td>状态</td>
            <td>操作管理员</td>
            <td>操作</td>
        </tr>
        <tr ng-repeat="x in data1.fiveRecord_list">
                <td>{{getdate(x.put_time)}}</td>
                <td>{{x.put_way=='fund'?'地图投放':(x.put_way=='purse'?'钱包投放':'')}}</td>
                <td>{{x.circle_name}}</td>
                <td>{{x.person_name}}</td>
                <td>{{x.truck_name}}</td>
                <td>{{x.truck_id}}</td>
                <td>{{x.price}}</td>
                <td>{{x.status=='put'?'投放中':(x.status=='get'?'已获取':'已回收')}}</td>
                 <td>{{x.admin_name}}</td>
                 <td><a ng-hide="x.status=='recycle'" ng-click="huishou(x.fiveRecord_id,x.truck_id)">回收</a></td>
        </tr>
        <tr ng-show="data1.fiveRecord_list.length==0">
        	<td >当前无符合条件数据</td>
        </tr>
      
    </table>

    <div class="content4">
        <select class="ff" style="margin-right: 0"  ng-model="table1fix.page_size" ng-change="setTable1()">
            <option ng-value="10" ng-selected="true">10</option>
            <option ng-value="30">30</option>
        </select>
        <span class="ff text1">条</span>

        <span class="down" ng-click="export_xlsx()"></span>
        <span class="fr">
        <span class="left {{table1fix.page_num>1?'active':''}}" ng-click="left(table1fix.page_num>1)"></span>
        <input type="text " ng-model="table1fix.page_num" ng-blur="page((table1fix.page_num>0)&&(table1fix.page_num<=data1.total_page))">
        <span class="text">/{{data1.total_page}}</span>
        <span class="right {{table1fix.page_num<data1.total_page?'active':''}}" ng-click="right(table1fix.page_num<data1.total_page)"></span>
    </span>
    </div>
</div>
