/**/
body,h1,p{margin:0;padding:0}
body{font-family: Arial,"Î¢ÈíÑÅºÚ";font-size:62.5%;color:#555;padding:0 20px;}
.i054 h1{text-align:center;line-height:30px;padding-top:20px;color:#627FEF;font-size:22px;}
.i054 .content{word-wrap: break-word;line-height: 22px;margin-bottom:10px;}
.i054 .content span{color:#D08B42;}
.i054 .time{line-height:22px;text-align: center;margin-bottom:10px;color:#a5a5a5;}
.i054 .essay{line-height:22px;}