<div ng-include src="'menu.html'"></div>
<div class="i120 i04">

    <div class="lucky_title_box">

        <div class="layer_datatime">
            <div class="layer_datatimeVal" ng-click="iconState()">日期选择：
                <span>全部</span>|
                <span></span>
                <img src="img/arrow_right.png" class="arrow_icon">
            </div>
            <div class="layer_datatimeVal1">
                <div class="datatime_div1">
                    <span ng-click="selectTimes('今日')">今日</span>|
                    <span ng-click="selectTimes('昨日')">昨日</span>|
                    <span ng-click="selectTimes('近7日')">近7日</span>|
                    <span ng-click="selectTimes('近30日')">近30日</span>|
                    <span ng-click="selectTimes('全部')">全部</span>
                </div>
                <div class="datatime_div2">
                    自定<input type="text" id="start_time" class="laydate-icon">
                    到<input type="text"  id="end_time" class="laydate-icon">
                </div>
                <div class="datatime_div3">
                    <div class="datatime_div3_1" ng-click="iconState()">取消</div>
                    <div class="datatime_div3_2" ng-click="selectQueryDate()">确定</div>
                </div>
            </div>
        </div>
    </div>

    <!--表格-->
    <table class="lucky_table table-bordered table-striped table-responsive">
        <tr class="tr1">
            <td colspan="4"><span>行为池  当前金额：</span>{{data.current_money}}（单位：ko币）</td>
        </tr>
        <tr class="tr2">
            <td colspan="4"><span>每日统计时间为00:00</span></td>
        </tr>
        <tr>
            <th>日期</th>
            <th>明细查询</th>
            <th>行为事件</th>
            <th>金额变化</th>
        </tr>
        <tr ng-show="data.result.length==0">
            <td colspan="4">当前无符合条件数据</td>
        </tr>
        <tr ng-repeat="x in data.result">
            <td>{{x.ut*1000 | date:'yyyy-MM-dd HH:mm'}}</td>
            <td><span class="i40_table_btn" ng-click="showDetail(x.event)">查看</span></td>
            <td>{{x.event_name}}</td>
            <td>{{x.money_change}}</td>
        </tr>
        <tr ng-show="data.result.length>0">
            <td>合计</td>
            <td></td>
            <td></td>
            <td>{{get_current_change_total()}}</td>
        </tr>
    </table>
    <!--页面跳转栏-->
    <div class="con">
        <div class="i04_dol">
            <div class="i04_list dol_num" ng-click="showList()">
                <span>{{behaviorPool.pageSizeSelect}}</span>
                <ul class="i04_show dol_list" id="pageSizeSelect">
                    <li ng-click="showList_child(10)">10</li>
                    <li ng-click="showList_child(30)">30</li>
                </ul>
            </div>
            <span class="tiao">条</span>
            <div class="dol_btn" ng-click="export_xlsx()"></div>
        </div>
        <div class="i04_change_page">
            <div class="i04_return_btn" ng-show="behaviorPool.pageNum!=1" ng-click="behaviorPool_prev()"></div>
            <div class="i04_return_btn_no" ng-show="behaviorPool.pageNum==1"></div>
            <input type="text" ng-model="behaviorPool.pageNum" class="page">
                <span>
                /<span class="page_num">{{data.total_page}}</span>
                </span>
            <div class="i04_go_btn" ng-show="behaviorPool.pageNum<data.total_page" ng-click="behaviorPool_next()"></div>
            <div class="i04_go_btn_no" ng-show="behaviorPool.pageNum==data.total_page"></div>
        </div>
    </div>
</div>