@charset "UTF-8";
/* CSS Document */
body{background:#F1F1F1;}

/*幸运蛋库title*/
.i200 .lucky_title_box{position:relative;}
.i200 .lucky_title{ float:left;}
.i200 .lucky_title_info{ float:left; margin-top:27px; margin-left:10px; color:#B3B3B3;}
.i200 .lucky_title_info span{ margin:0 2px;}
/*搜索项目*/
.i200 .search,.i200 .con{ height:50px; }

.i200 .type_list{ display:none;}

.i200 .search_date{ cursor:text; width:130px;}
.i200 .search_type{ margin-left:10px;}

/*编辑商品库删除提示框*/
.i200 .delete_lucky{ display:none;}

/*修改幸运蛋库*/
.i200 .change_lucky{ display:none;  width:900px; margin-left:-450px;}
.i200 .change_lucky_search{ margin-top:10px; width:800px; height:50px; margin:0 auto; }

/*区间详细*/
.i200 .qujian,.i200 .shangxian{ float:left; height:32px; line-height:32px; color:#7E7E7E; margin-right:10px;}
.i200 .qujian input,.i200 .shangxian input{ display:inline-block; width:50px; height:32px; border:1px solid #E8E8E8; border-radius:4px; padding-left:10px;}
.i200 .change_lucky_type{ border:1px solid #E8E8E8; margin-left:20px;}

.i200 .show_change_type{ display:none;}

.i200 .search_box_lucky{border:1px solid #E8E8E8; border-right:none; }
.i200 .search_btn_lucky{border:1px solid #E8E8E8; border-left:none; }
.i200 .change_page_lucky{ width:170px; float:none; margin:0 auto;}
.i200 .change_lucky_table{ width:800px;}
.i200 .change_lucky_table tbody tr td:nth-of-type(6) input{ margin-right:3px;}
/*取消添加碎片*/
.i200 .cancel_add_lucky{ display:none;}
/*取消添加碎片*/
.i200 .save_add_lucky{ display:none;}

.i200 .left{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: url("img/page_return_no.png");
}
.i200 .left.active{
    background: url("img/page_return.png");
}
.i200 .right{
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: url("img/page_go_no.png");
}
.i200 .right.active{
    background: url("img/page_go.png");
}

.i200 select{
    float: left;
    width: 184px;
    margin-left: 20px;
    height: 32px;
    line-height: 30px;
    padding-left: 16px;
    border: 1px solid #E8E8E8;
    border-right: none;
    border-radius: 4px 0 0 4px;
    color: #7E7E7E;
}


/*日期选择*/
.i200 .layer_datatime{
    position: relative;
    width: 270px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius:4px;
    background-color: #3e97d3;
    z-index: 3;
}
.i200 .layer_datatimeVal{
    height: 30px;
    line-height: 30px;
    font-size:12px;
    color:white;
    top:0px;
    cursor: pointer;
}
.i200 .arrow_icon{
    position: absolute;
    right: 5px;
    top: 9px;
    bottom: 0px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.i200 .layer_datatimeVal1{
    position: absolute;
    width: 100%;
    top:30px;
    height: 140px;
    background-color: white;
    left:0px;
    display: none;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.5);
}
.i200 .datatime_div1{
    position: relative;
    width: 80%;
    font-size:12px;
    line-height: 40px;
    height: 40px;
    left:10%;
}
.i200 .datatime_div1 span{
    position: relative;
    margin-left: 3px;
    margin-right: 3px;
    cursor: pointer;
}
.i200 .datatime_div2{
    position: relative;
    width: 94%;
    font-size:12px;
    line-height: 40px;
    height: 40px;
    margin-top:0px;
    left:3%;
}
.i200 .datatime_div2 input{
    position: relative;
    width: 82px;
    margin-left: 4px;
    margin-right: 4px;
}
.i200 .datatime_div3{
    position: absolute;
    width: 100%;
    font-size:12px;
    line-height: 40px;
    height: 40px;
    bottom: 0px;
    border-top:1px solid rgba(0,0,0,0.1);
}
.i200 .datatime_div3_1,.datatime_div3_2{
    position: absolute;
    width: 50%;
    top:0px;
    text-align: center;
    font-size:14px;
    cursor: pointer;
}
.i200 .datatime_div3_1{
    left:0px;
    border-right:1px solid rgba(0,0,0,0.1);
}
.i200 .datatime_div3_2{
    right: 0px;
    color:#3e97d3;
}

/*表格*/
.i200 .tr1{
    height:40px;
}
.i200 .tr2{
    height:50px;
    font-size:14px;
}
.i200 .tr1 td,.i200 .tr2 td{
    text-align: left;
    padding-left:10px;
}
.i200 .tr1 td span,.i200 .tr2 td span{
    color:red;
}

/*日期选择框*/
.laydate-icon{height:25px;line-height: 25px;border:1px solid #E8E8E8; border-radius:4px; background:#fff url(img/icon_arrow_down.png) no-repeat; color:#7E7E7E; background-position: center right 6px; cursor:pointer;}
.laydate-icon:hover{ background:#fff url(img/icon_arrow_down_hover.png) no-repeat; background-position: center right 6px; cursor:pointer;}


.i200 .lucky_title_box {
    margin-top: 20px;
}
.i200 .i200_title {
    margin: 30px 0;
    font-size: 20px;
    color: #3A9AD7;
}
.i200 .search { margin-left: 30%;}

.i200 .modal .modal-dialog {
    width:80%;
    position: absolute;
    left: 50%;
    top: 10%;
    margin-left: -40%;
}